header {
	background: #b8a9c9;
}

h1{
	color: #622569;
	font-variant: small-caps;
	text-align: center;
}
h2{
	color: #622569;
	font-variant: small-caps;
}
section{
	background: #5b9aa0;
}
nav{
	background: #b8a9c9;
	color: #c1cdc1;
	text-align: center;
}
img {
	display: none;
}